.container {
	width: 1035px;;
  margin: auto;
  min-height: 680px;
  /*border: 3px solid #e0e3e6;*/
}
.divLeft {
	padding-top: 12rem;
  border: 1px solid #797979;
  padding-right: 3rem;
  background-color: #e0e3e6;
  min-height: 680px;
}
ul {
  list-style: none;
}
.btn-default[disabled]{
	color: #333;
}
#btnShowResult, #btnShowTest {
	margin-top: 20px;
	font-size: 18px;
}
#btnRun {

}
#iframeResult {
	  width: 130%;
    height: 580px;
    margin-top: -25px;
    padding-left: 0rem;
    overflow: auto;
    margin-left: -41px;
}
.hide {
	display: none;
}
.pdg-left8 {
	padding-left: 8px;
}
.pdg-right5 {
	padding-right: 5px;
}
.no-right-padding {
	padding-right: 0px;
}
.redText {
  color: red;
  font-style: italic;
}
#error {
	margin-bottom: 10px;
}
.navbar {
	background: #327cb1 url('/Content/kibo-logo.png');
	width: 100%;
  margin: auto;
  height: 97px;
  background-repeat: no-repeat;
  background-position: 15%;
}
label {
	font-size: 16px;
}
.divRight {
	margin-top: 13rem;
	padding-left: 6rem;
}
.btn {
	width: 100%;
	color: #fff;
  padding: 10px 10px;
	background-color: #327cb1;
  border-radius: 24px;
}

.btn-run{
  background-color: rgba(7, 51, 82, 0.84);
}

.btn-rerun{
  background-color: #198ea9;
}

.btn-run-all{
  background-color: #55a25b;
}

.divRight ul li {
	line-height: 4rem;
}
input[type=radio], input[type=checkbox] {
    display:none;
}
.ulCollapse {
  display: none;
}
input[type=radio] + label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align:middle;
    margin-right: 8px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #a0acba;
}
input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align:middle;
    margin-right: 8px;
    background-color: white;
    border: 2px solid #a0acba;
}
input[type=radio]:checked + label:before {
    content: "\2022"; /* Bullet */
    color:#ff8348;
    background-color: white;
    font-size:1.8em;
    text-align:center;
    line-height:20px;
    text-shadow:0px 0px 3px #eee;
    font-size: 22px;
}
input[type=checkbox]:checked + label:before {
    content:"\2714"; /* Tick */
    color:#ff8348;
    background-color: white;
    text-align:center;
    line-height:20px;
    text-shadow:0px 0px 3px #eee;
    font-size: 22px;
}
.form-control {
  height: 5rem;
  border-radius: 24px;
}

select {
  -webkit-appearance: button;
}